* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
ul {
    list-style: none;
}
*:focus{
    outline: none;
}
:root {
    --main-color:#f16b01;
}
/* start header  */
.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    background-color:#101324;
} 
@media (max-width :767px) {
    .header {
        padding: 5px 20px; 

    } 
    .search {
        margin: 10px auto;
    }   
    .logo {
        display: block;
        text-align: center;
        width: 100%;
    }
    ul {
        margin: 10px auto;
    }
}
.header .logo {
    font-size: 30px;
    color: var(--main-color);
}
.header ul {
    display: flex;
} 
.header ul li {
    padding: 20px;
} 
@media (max-width: 768px) {
    .header ul li {
        padding: 10px;
    }
}
.header ul li a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.header ul li a:hover {
    color:var(--main-color);
}
.header .search {
    display: flex;
    flex-wrap: wrap;
}
.header .search input {
    padding: 10px 20px;
    border-radius: 5px 0 0 5px;
    border: 1px solid var(--main-color);
    background: transparent;
    color: white;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
}
.header .search input::placeholder {
    color: white;
}
.header .search a {
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: var(--main-color);
    border-radius: 0 5px 5px 0;
    left: -4px;
    position: relative;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
}
/* end header */
/* start content  */
.landing {
    background-image: url(../img/pexels-miguel-á-padriñán-19670.jpg);
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 80px); 
    padding: 10px 80px;   
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
@media (max-width:767px) {
    .landing {
        height: calc(100vh - 400px);
        padding: 0px 10px;
        flex-direction: column;
        gap: 50px;
        text-align: center;
    }
}
.landing .info {
    position: relative;                  
}
.landing::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000057;
    left: 0;
    top: 0;
}
.landing .info {

}
@media (max-width:991px) {
    .landing .info {
        top: 25px;
    }
}
.landing .info h2 {
    font-size: 40px;   
    color: var(--main-color);
}
.landing .info h2 span {
    color: white;
    display: block;
    text-align: center;
    font-size: 30px;
    width: 100%;
    position: relative;
    left: -66px;
}
@media (max-width:991px ) {
    .landing .info h2 span {
        text-align: center;
        position: relative;
        left: -8px;
    }
}
.landing .info p {
    color:white;
    font-size: 20px;
    margin-top: 10px;
}
.landing .info a {
    text-decoration: none;
    display: block;
    padding: 10PX 20PX;
    background-color: var(--main-color);
    border-radius: 10px;
    color: white;
    margin-top: 10px;
    width: 120px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
@media (max-width :991px) {
    .landing .info a { 
    margin: 10px auto;
    }
}
/* end content  */
/* start form  */
.form {
    position: relative;
    padding: 15px 30px;
    border: 1px solid black;
    color: white;
    width: 250px;
    height: 280px;
    background-color: black;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
}
.form h2 {
    color: var(--main-color);
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 5px 10px;
    background-color: white;
    width: 195px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.form input {
    background: transparent;
    border-right: none;
    border-bottom: 1px solid var(--main-color);
    margin: 10px 0;
    color: white;
}
.form a {
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    background-color: var(--main-color);
    padding: 6px 20px;
    border-radius: 10px;
    margin: 10px auto;
    font-size: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.form p {
    text-align: center;
    margin-top: 10px;
}
.form p span {
    color: var(--main-color);
}
.form .fontawesome {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-top: 5px;
}
.form .fontawesome i {
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.form .fontawesome i:hover {
    color: var(--main-color);
    transform: scale(1.1) rotate(10deg);
    -webkit-transform: scale(1.1) rotate(10deg);
    -moz-transform: scale(1.1) rotate(10deg);
    -ms-transform: scale(1.1) rotate(10deg);
    -o-transform: scale(1.1) rotate(10deg);
}
@media (max-width :991px) {
    .form {
        text-align: center;
    }
}

/* end form  */
